@model Body

@{
    ViewData["Title"] = "Parametry ciała";
}

<h1 style="text-align:center;">@ViewData["Title"]</h1>

<div class="form-container" style="text-align:center;">
    <div class="form-inner">
        <h2>Dodane parametry ciała:</h2>
        @if (ViewBag.BodyParameters != null && ViewBag.BodyParameters.Count > 0)
        {
            <table>
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Waga (kg)</th>
                        <th>Wzrost (cm)</th>
                        <th>BMI</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var bodyParameter in ViewBag.BodyParameters)
                    {
                        <tr>
                            <td>@bodyParameter.Date.ToShortDateString()</td>
                            <td>@bodyParameter.Weight</td>
                            <td>@bodyParameter.Height</td>
                            <td>@bodyParameter.BMI</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>Brak dodanych parametrów ciała.</p>
        }
    </div>
</div>
