@model IList<DietBowl.Models.User>
<link rel="stylesheet" href="~/css/dietecitianpatient.css" asp-append-version="true" />
@{
    ViewData["Title"] = "Przypisani Pacjenci";
}

<br />
<br />

<h2 style="text-align:center">@ViewData["Title"]</h2>




@if (Model.Count == 0)
{
    <p style="text-align:center">Nie masz przypisanych żadnych pacjentów.</p>
}
else
{
    <table>
            <tr>
                <th>Email</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Wiek</th>
                <th>Płeć</th>
                <th>Akcja</th>
            </tr>
       
      
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>@(ObliczWiek(user.DateOfBirth))</td> <!-- Obliczanie wieku -->
                    <td>@user.Sex</td>
                    <td class="action">
                        <form method="post" action="@Url.Action("RemovePatient", "Dietitian")">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <input class="btn btn-danger" type="submit" value=" Usuń " onclick="return confirm('Czy na pewno chcesz usunąć tego pacjenta?');" />
                        </form>
                        <a class="btn btn-primary" href="@Url.Action("SetNutritionalRequirements", "Dietitian", new { userId = user.Id })">Makro</a>
                        <a class="btn btn-primary" href="@Url.Action("AddRecipeToDiet", "Dietitian", new { userId = user.Id })">Dieta</a>
                    </td>
                </tr>
            }
       
    </table>
    }

@functions {
    // Funkcja do obliczania wieku na podstawie daty urodzenia
    int ObliczWiek(DateTime dataUrodzenia)
    {
        DateTime dzisiaj = DateTime.Today;
        int wiek = dzisiaj.Year - dataUrodzenia.Year;
        if (dzisiaj.Month < dataUrodzenia.Month || (dzisiaj.Month == dataUrodzenia.Month && dzisiaj.Day < dataUrodzenia.Day))
        {
            wiek--;
        }
        return wiek;
    }
}