@using DietBowl.ViewModel
@model UserMacronutrientsVM

<link rel="stylesheet" href="~/css/displayusermacro.css" asp-append-version="true" />

<h1><strong>Makroelementy użytkownika</strong></h1>

<table class="user-details">
    <tr>
        <th>Imię</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Nazwisko</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Kalorie</th>
        <td>@Model.Calories</td>
    </tr>
    <tr>
        <th>Białko (g)</th>
        <td>@Model.Protein</td>
    </tr>
    <tr>
        <th>Tłuszcz (g)</th>
        <td>@Model.Fat</td>
    </tr>
    <tr>
        <th>Węglowodany (g)</th>
        <td>@Model.Carbohydrate</td>
    </tr>
</table>

<div>
    <a class="btn btn-success" href="@Url.Action("EditUserMacronutrients", "Dietitian", new { userId = Model.UserId })">Edytuj</a>
</div>
