@model IList<DietBowl.Models.User>

<link rel="stylesheet" href="~/css/dietecitianpatient.css" asp-append-version="true" />
    <br />
    <br />

<h2 style="text-align:center">Lista Pacjentów</h2>
<table>
    
    <tr>
        <th>Email</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Wiek</th>
        <th>Płeć</th>
        <th>Akcje</th>

    </tr>
    
    @foreach (var user in Model)
    {
        
        <tr>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@(ObliczWiek(user.DateOfBirth))</td> <!-- Obliczanie wieku -->
            <td>@user.Sex</td>
            <td>
                <form method="post" action="@Url.Action("AddPatient", "Dietitian")">
                    <input type="hidden" name="userId" value="@user.Id" />
                    <input class="btn btn-success" type="submit" value="Przypisz" onclick="return confirm('Czy na pewno chcesz przypisać tego pacjenta do dietetyka?');" />
                </form>
            </td>
        </tr>
        
    }
</table>


@functions {
    // Funkcja do obliczania wieku na podstawie daty urodzenia
    int ObliczWiek(DateTime dataUrodzenia)
    {
        DateTime dzisiaj = DateTime.Today;
        int wiek = dzisiaj.Year - dataUrodzenia.Year;
        if (dzisiaj.Month < dataUrodzenia.Month || (dzisiaj.Month == dataUrodzenia.Month && dzisiaj.Day < dataUrodzenia.Day))
        {
            wiek--;
        }
        return wiek;
    }
}