@model IList<DietBowl.Models.User>

<h2>Lista Pacjentów</h2>

<table>
    <tr>
        <th>Email</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Wiek</th>
        <th>Płeć</th>
        <th>Akcje</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Age</td>
            <td>@user.Sex</td>
            <td>
                <form method="post" action="@Url.Action("AddPatient", "Dietitian")">
                    <input type="hidden" name="userId" value="@user.Id" />
                    <input type="submit" value="Przypisz" onclick="return confirm('Czy na pewno chcesz przypisać tego pacjenta do dietetyka?');" />
                </form>
            </td>
        </tr>
    }
</table>