@model List<DietBowl.Models.Recipe>

@{
    ViewData["Title"] = "Lista Przepisów";
}

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
    }

    .recipe-card {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    .recipe-card h2 {
        margin-top: 0;
    }

    .recipe-card p {
        margin-bottom: 5px;
    }

    .recipe-actions {
        display: flex;
        justify-content: flex-end;
    }
</style>

<h1>Lista Przepisów</h1>

@if (Model != null && Model.Any())
{
    <div class="grid-container">
        @foreach (var recipe in Model)
        {
            <div class="recipe-card">
                <h2>@recipe.Title</h2>
                <p><strong>Składniki:</strong> @recipe.Ingedients</p>
                <p><strong>Instrukcje:</strong> @recipe.Instructions</p>
                <p><strong>Białko:</strong> @recipe.Protein</p>
                <p><strong>Tłuszcz:</strong> @recipe.Fat</p>
                <p><strong>Węglowodany:</strong> @recipe.Carbohydrate</p>
                <p><strong>Kalorie:</strong> @recipe.Calories</p>
                <div class="recipe-actions">
                    <form asp-action="Delete" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć ten przepis?');">
                        <input type="hidden" name="id" value="@recipe.Id" />
                        <button type="submit" class="btn btn-danger">Usuń</button>
                    </form>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>Brak przepisów do wyświetlenia.</p>
}
