@model List<DietBowl.Models.Recipe>

@{
    ViewData["Title"] = "Lista Przepisów";
}
<link rel="stylesheet" href="~/css/recipeshow.css" asp-append-version="true" />

<div class="container" id="listcontainer">
    <h1 class="list">Lista Przepisów</h1>

    @if (Model != null && Model.Any())
    {
        <div class="grid-container">
            @foreach (var recipe in Model)
            {
                <div class="recipe-card">
                    <h2>@recipe.Title</h2>
                    <p><strong>Składniki:</strong> @recipe.Ingedients</p>
                    <p><strong>Instrukcje:</strong> @recipe.Instructions</p>
                    <p><strong>Białko:</strong> @recipe.Protein</p>
                    <p><strong>Tłuszcz:</strong> @recipe.Fat</p>
                    <p><strong>Węglowodany:</strong> @recipe.Carbohydrate</p>
                    <p><strong>Kalorie:</strong> @recipe.Calories</p>
                    <div class="form-group">
                        <label>Alergeny:</label>

                        <ul>
                            @foreach (var allergen in recipe.Allergens)
                            {
                                <li>@allergen.Name</li>
                            }
                        </ul>
                    </div>
                    <div class="recipe-actions">
                        <form asp-action="Delete" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć ten przepis?');">
                            <input type="hidden" name="id" value="@recipe.Id" />
                            <button type="submit" class="btn btn-danger position-relative bottom-30 start-30">Usuń</button>
                            <a href="@Url.Action("Edit", "Recipes", new { id = recipe.Id })" class="btn btn-primary position-relative bottom-30 start-30">Edytuj</a>
                            <br /><br />
                        </form>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>Brak przepisów do wyświetlenia.</p>
    }

</div>
