@model IList<DietBowl.Models.User>
<link rel="stylesheet" href="~/css/dietecitianpatient.css" asp-append-version="true" />
<br />
<br />
<br />
<br />
<br />
<h2 style="text-align:center">Lista dietetykow</h2>
<div class="filter">
<table>
    <tr>
        <th>Email</th>
        <th>Imię</th>
        <th>Nazwisko</th>
        <th>Wiek</th>
        <th>Płeć</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Age</td>
            <td>@user.Sex</td>
        </tr>
    }
</table>
</div>